* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
	align-items: center;
    text-align: center;
}

body {
    background-image: linear-gradient(120deg, #e2c35d, #d88771);
    color: black;
    min-height: 100vh;
    display: inline-flex;
}



input[type = Text]{
    width: 100%;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    font-size: 15px;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    height: 30px;    
    letter-spacing: 1px;
    display: block;
}

  

button {
    cursor: pointer;
	padding: 10px;
    margin: 10px;
    background-color: white;
    border: 2px solid black;
    color: #111;
    transform: skew(1deg, 0.5deg);
    font-size: 15px;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    border-radius: 50px;
    display: inline-block;
    -webkit-transition: color 0.2s ease;
    -moz-transition:    color 0.2s ease;
    -ms-transition:     color 0.2s ease;
    -o-transition:      color 0.2s ease-in-out;
    transition:         color 0.2s ease-in-out;
}

button:hover {
    background-color: black;
    border: 2px solid black;
    color: white;
    animation-timing-function: ease;
}

